version: '3.1'

services:
  mongo:
    image: mongo
    ports:
      - 27017:27017

  mongo-express:
    image: mongo-express
    ports:
      - 8081:8081
    depends_on:
      - mongo

  springboot:
    build: .
    ports:
      - 8080:8080
    depends_on:
      - mongo